<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/assets/styles.css" />
        <link rel="stylesheet" href="/assets/form.css" />
    </head>
    <body>
        <%- include ('partials/firstNav'); %>
        <h1>Contact Us!</h1>
        <p>Contact the collest cats on the world right here ...</p>
        <div>
            <form id="contact-form" method="" , action="">
                <label for="fname"> Name </label>
                <input type="text" id="fname" name="person" value="<%= name %>" disabled />
                <label for="department">Department</label>
                <input type="text" id="department" name="department" value="<%= dept %>" disabled />
            </form>
        </div>
    </body>
</html>
