<link rel="stylesheet" href="/assets/navStyle.css" />
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/contact?dept=marketing&name=jana">Contact</a></li>
    <li><a href="/profile/hayat">Profile</a></li>
</ul>
